.select2 {
    width: 100%!important; 
    height: 100%!important;;
}
.page-wrapper {
    min-height: calc(100vh - 56px)!important;
}

.table img{
    max-height: 200px; max-width: 100%
}

.table.display img{
    max-height: 50px; max-width: 100%
}

.mailbox .message-center {
    height: auto;
    max-height: 300px;
}